# See https://nictiz.nl/publicaties/nationale-terminologie-server-handleiding-voor-nieuwe-gebruikers/
USERNAME_NTS=<USERNAME_FROM_TERMONOLOGIESERVER.NL>
PASSWORD_NTS=<PASSWORD_FROM_TERMONOLOGIESERVER.NL>