#
name: ORCA Frontend Sonar Scan

# Configures this workflow to run every time a change is pushed.
on:
  push:
    paths:
      - frontend/**
      - .github/workflows/frontend_sonar.yaml

# There is a single job in this workflow. It's configured to run on the latest available version of Ubuntu.
jobs:
  sonar-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 23
      - name: Install pnpm as prerequisite for caching setup.
        run: npm install --global pnpm@8
      - name: Install dependencies
        working-directory: ./frontend
        run: |
          pnpm -v
          pnpm install
      - name: run frontend tests
        working-directory: ./frontend
        run: |
          pnpm test:coverage

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: frontend
          args:
            -Dsonar.sources=.
            -Dsonar.verbose=true
            -Dsonar.javascript.lcov.reportPaths=./coverage/lcov.info
            -Dsonar.coverage.exclusions=**/*.test.ts,**/*.test.js,**/*.test.jsx,**/*.test.tsx,**/*.spec.ts,**/*.spec.js,**/*.spec.jsx,**/*.spec.tsx,**/*.stories.jsx,**/*.stories.tsx*,**/*.test-data.ts
            -Dsonar.cpd.exclusions=**/*.test.ts,**/*.test.js,**/*.test.jsx,**/*.test.tsx,**/*.spec.ts,**/*.spec.js,**/*.spec.jsx,**/*.spec.tsx,**/*.stories.jsx,**/*.stories.tsx*,**/*.test-data.ts,**/fhir-v*-response.ts,src/components/ui/fonts/index.ts
            -Dsonar.issue.ignore.multicriteria=e1
            -Dsonar.issue.ignore.multicriteria.e1.ruleKey=typescript:S5332
            -Dsonar.issue.ignore.multicriteria.e1.resourceKey=**/*.test*.ts
