#
name: Viewer Simulator Sonar Scan

# Configures this workflow to run every time a change is pushed to the branch called `main`.
on:
  push:
    paths:
      - viewer_simulator/**
      - .github/workflows/viewer_simulator_sonar.yaml

# There is a single job in this workflow. It's configured to run on the latest available version of Ubuntu.
jobs:
  sonar-scan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 23
      - name: Install pnpm as prerequisite for caching setup.
        run: npm install --global pnpm@8
      - name: Install dependencies
        working-directory: ./viewer_simulator
        run: |
          pnpm -v
          pnpm install
      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: viewer_simulator
